.container {
    display: flex;
    justify-content: center;
}

.container #jogo {
    border: solid 1px gray;
    box-shadow: 10px 10px 5px gray;
    margin-top: 10px;
    margin-left: 100px;  
}

.opcoes {
    position: absolute;
    top: 0;
    float: left;
    display: flex;
    justify-content: center;
    border: solid 1px gray;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 10px 10px 5px gray;
}

.opcoes select {
    width: 40px;
    cursor: pointer;
    border-radius: 10%;   
}

.opcoes select:focus {
    outline: 0;
}

.opcoes button {
    width: 50px;
    height: 37px;
    margin-left: 10px;
    border-radius: 20%; 
    color: white;
    border: solid 2px 2px gray;
    cursor: pointer;
}

.opcoes button:focus {
    outline: 0;
}

.painel-pontos {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 5px;
    position: absolute;
    top: 0;
    right: 0;
    border: outset 5px gray;
    box-shadow: 10px 10px 5px gray;
    margin-right: 20px;
    margin-top: 30px; 
    padding: 20px;
    background-color: rgb(15, 15, 15);
    color: white;
}

.painel-pontos .pts{
    border: solid 2px black;
    font-size: 2.5em;
    color: white;
    background-color: rgb(27, 27, 27);
}

.painel-pontos .pts{
    border: solid 2px black;
    font-size: 2.5em;
    color: white;
    /* background-color: rgb(49, 47, 47); */
    background-color: black;
}

.painel-pontos .jogador-nome {
    font-family: placar;
    margin-left: 15px;
}

@font-face {
    font-family: placar;
    src: url(../fonts/DS-DIGII.TTF);
}